 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     <h1> hi</h1>
     <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, optio provident. Incidunt qui, eius doloremque consectetur non, provident soluta quo inventore quaerat sint, officiis aspernatur quibusdam ipsam cumque culpa sequi!
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi et quam consequatur expedita voluptas libero inventore eius unde ipsum eos recusandae voluptates, dolorum magnam aspernatur laborum aliquam minus! Dicta, architecto.
     </p>
     <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nisi enim esse culpa a suscipit quae doloribus aperiam totam fuga exercitationem unde quaerat blanditiis expedita aliquam facilis quo, illum dolorem!

     </p>
     <button class="btn btn-info"> valider </button>
 </body>
 </html>
